.ui-tab .tab-ctr .btn {
  float: left;
  display: block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #888;
  border-radius: 5px;
}

.ui-tab .tab-ctr .btn.on {
  background: #adadad;
}

.ui-tab .tab-layer {
  display: none;
  min-height: 300px;
  border: 1px solid #888;
}

.ui-tab .tab-layer.on {
  display: block;
}

.ui-accodion {
  border: 1px solid #888;
}

.ui-accodion .btn {
  display: block;
  height: 44px;
  padding-left: 5px;
  line-height: 44px;
  border-left: 8px solid  #ffc48b;
  background: #fff6ee;
  border-radius: 3px;
}

.ui-accodion .layer {
  display: none;
}
