	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="title" content="SCSS 테스트 프로젝트">
	<title>SCSS 테스트 프로젝트</title>
	@@if (context.button) {<link rel="stylesheet" href="@@button">}
	@@if (context.input) {<link rel="stylesheet" href="@@input">}
	<link rel="stylesheet" href="@@webRoot/css/contents.css">
	<link rel="stylesheet" href="@@webRoot/css/swiper-bundle.min.css">
	<script type="text/javascript" src="@@webRoot/js/jquery.min.js"></script>
	<script type="text/javascript" src="@@webRoot/js/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="@@webRoot/js/ui_common.js"></script>
	<script>
		$(document).ready(function(){
			$('.btn-global-nav').on('click', function(){
				$('html').toggleClass('global-nav-open');
			});
			$('.h-search-box input').on('click', function(){
				// $(this).closest('.h-search-box').find('button').show();
				$('header').addClass('search-open')
			});
			$('.h-search-box button').on('click', function () {
				$('header').removeClass('search-open')
			});

			$('.test-btn').on('click', function () {
				$('.slideDown-box').toggleClass('selected')
			});
		});
	</script>