@charset "UTF-8";

/* NotoSansKR-Light */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/NotoSansKR-Light.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Light'),
			url('../fonts/NotoSansKR-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/NotoSansKR-Light.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/NotoSansKR-Light.woff') format('woff'); /* Modern Browsers */
}
/* NotoSansKR-Regular */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/NotoSansKR-Regular.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Regular'),
			url('../fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/NotoSansKR-Regular.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/NotoSansKR-Regular.woff') format('woff'); /* Modern Browsers */
}
/* NotoSansKR-Medium */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/NotoSansKR-Medium.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Medium'),
			url('../fonts/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/NotoSansKR-Medium.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/NotoSansKR-Medium.woff') format('woff'); /* Modern Browsers */
}
/* NotoSansKR-Bold */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/NotoSansKR-Bold.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Bold'),
			url('../fonts/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/NotoSansKR-Bold.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/NotoSansKR-Bold.woff') format('woff'); /* Modern Browsers */
}
:root {
	@each $theme, $map in $themes {
		@if($theme == light){  
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), '#{$key}');
				--#{$key}:#{$value};
			}
		}@else{
			// &[data-theme="dark"] {
			@media (prefers-color-scheme: dark) {
				@each $key, $submap in $map {
					$value: map-get(map-get($themes, $theme), '#{$key}');
					--#{$key}:#{$value};
				}
			}
		}
	}
}
html, body {height:100%;}
body, button, input, select, textarea {
	color:$font-color-default;
	font-size:$font-size-default;
	font-weight:$font-weight-regular;
	font-family:$font-family-base;
	letter-spacing:-.5px;
}

/* select */
select {
	height:$select-height-default;
	padding:$select-padding-default;
	border:1px solid $select-border-default;
	background-color:$select-bg-default;
	background-repeat:no-repeat;
	background-position:right 20px center;
	background-image:url(''+$url-common+'icon_select03.png');
	border-radius:$select-radius-default;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor: pointer;
	@include textEllipsis;
}
select::-ms-expand {
	display:none;
}